@model WebApplicationDiplom.ViewModels.PositionViewModel

@{
    ViewBag.Title = "Добавления должности в организацию";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleWindow.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Input.css" />
</head>
<body class="bodyWww">
    <form method="post" asp-controller="Position" asp-action="Create" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Добавление должности в организацию</h2>
        <div class="box">
            <label class="form_label">Должность</label><br />
            <a asp-controller="Position" asp-action="CreateJob" style="text-decoration: none;">Добавить должность в справочник</a><br />
            <select asp-for="PositionId">
                @foreach (var item in Model.positions)
                {
                    <option value="@item.PositionId">@item.JobTitle</option>
                }
            </select>
            <span asp-validation-for="PositionId"></span>
        </div>
        <br />
        <div class="form_grup">
            <label asp-for="JobResponsibilities" class="form_label">Описания</label><br />
            <input asp-for="JobResponsibilities" class="input" />
            <span asp-validation-for="JobResponsibilities"></span>
        </div>
        <div class="form_grup">
            <label asp-for="CountPosition" class="form_label">Количество мест на должность</label><br />
            <input asp-for="CountPosition" class="input" />
            <span asp-validation-for="CountPosition"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" class="button" />
            <a class="button" asp-controller="Position" asp-action="Index" style=" text-decoration: none;">Назад</a><br />
        </div>
    </form>
</body>