@model WebApplicationDiplom.ViewModels.QualificationViewModel
@{
    ViewBag.Title = "Добавления в справочник";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleWindow.css" />
    <link rel="stylesheet" href="~/css/Body.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Input.css" />
</head>
<body class="bodyWww">
    <form method="post" asp-controller="Educational" asp-action="CreateQualification" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Добавление квалификации в справчоник</h2>
        <div class="form_grup">
            <label class="form_label" asp-for="Qualification">Квалификация*</label><br />
            <input class="input" asp-for="Qualification" />
            <span asp-validation-for="Qualification"></span>
        </div>
        <br />
        <div class="form_grup">
            <input type="submit" value="Сохранить" class="button" />
            <a class="button" asp-controller="Educational" asp-action="Create" style=" text-decoration: none;">Назад</a><br />
        </div>
    </form>
</body>