@model WebApplicationDiplom.ViewModels.SpecialtyViewModel

@{
    ViewBag.Title = "Добавления в справочник";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/RegisterStyleEducationalWorkers.css" />
</head>
<body>
    <form method="post" asp-controller="Educational" asp-action="CreateSpecialty" class="form">
        <div asp-validation-summary="ModelOnly"></div>
        <h2 class="form_title">Добавление специальности в справчоник</h2>
        <div class="form_grup">
            <label class="form_label" asp-for="Specialty">Cпециальность</label><br />
            <input class="form_input" asp-for="Specialty" />
            <span asp-validation-for="Specialty"></span>
        </div>
        <br />
        <div class="form_grup">
            <input type="submit" value="Сохранить" class="form_button" />
            <a class="form_button" asp-controller="Educational" asp-action="Create" style=" text-decoration: none;">Назад</a><br />
        </div>
    </form>
</body>