@model WebApplicationDiplom.ViewModels.VerificationOfEducationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Аттестация</h2>
<form method="post" asp-controller="VerificationOfEducation" asp-action="Create" style="width: 50%; text-align: left;">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="editor-field">
        <label>Фамилия работника</label><br />
        @Html.DropDownListFor(Model => Model.WorkerId, ViewBag.WorkerId as SelectList)

    </div>
    <br />
    <div>
        <label>Должность</label><br />
        @Html.DropDownListFor(Model => Model.PositionId, ViewBag.TablePositionId as SelectList)
    </div>
    <br />
    <div>
        <label>Организация</label><br />
        @Html.DropDownListFor(Model => Model.TableOrganizationsId, ViewBag.TableOrganizationsId as SelectList)
    </div>
    <div>
        <label asp-for="DateOfCertificationCompletion">Дата прохождении аттестации</label><br />
        <input asp-for="DateOfCertificationCompletion" />
        <span asp-validation-for="DateOfCertificationCompletion"></span>
    </div>
    <br /><br /><br />
    <div>
        <input type="submit" value="Регистрация" style="width: 50%; margin: 0 auto; text-align: start, " text-align: center;" />
    </div>
</form>