@model WebApplicationDiplom.Models.TableVerificationOfEducation
@{
    ViewBag.Title = "Аттестация работника";
}
<form asp-action="Edit" asp-controller="VerificationOfEducation" asp-route-id="@Model.VerificationOfEducationId">
    <input type="hidden" asp-for="VerificationOfEducationId" class="form-control" />
    <div class="form-group">
        <label asp-for="Worker.Name" class="control-label">Имя</label>
        <label type="text" asp-for="Worker.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Worker.Surname" class="control-label">Фамилия</label>
        <label type="text" asp-for="Worker.Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Worker.DoubleName" class="control-label">Отчёство</label>
        <label type="text" asp-for="Worker.DoubleName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Position.JobTitle" class="control-label">Дата рождения</label>
        <label type="date" asp-for="Position.JobTitle" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Аттестовать" class="btn btn-default" />
    </div>
</form>