<a asp-controller="Reports" asp-action="TheListOfPersonnelReserve">Список резерва кадров по организации</a>
<a asp-controller="Reports" asp-action="AllTheListOfPersonnelReserve">Список резерва кадров по по всем подченным организациям</a>
<br />
<a asp-controller="Reports" asp-action="ChairmenOfTheManagementBoards">Список резерва кадров на должности председателя правления и ревизионной комиссии облпотребсоюза</a>
<br />
<a asp-controller="Reports" asp-action="ApplicationReport">
    Список
    лиц, включенных в кадровый резерв на должности председателей правлений
    облпотребсоюзов, облпотребобществ
</a>