@model WebApplicationDiplom.ViewModels.ReserveOfPersonnelViewModel
@{
    ViewBag.Title = "Перевод работника из резерва";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/RegisterStyleEducationalWorkers.css" />
</head>
<body>
    <form class="form" asp-action="Edit" asp-controller="ReserveOfPersonnel" asp-route-id="@Model.ReserveId">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="ReserveId" class="form-control" />
        <br />
        <div class="form_grup">
            <label class="form_label">Назначить на должность?</label>
        </div>
        <div class="form-group">
            <input  type="submit" value="Да" class="form_button"s />
            <a class="form_button" asp-controller="ReserveOfPersonnel" asp-action="Index" style=" text-decoration: none;">Нет</a>
        </div>

    </form>
</body>
