@model WebApplicationDiplom.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/RegisterStyleEducationalWorkers.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/BodyStyle.css" />
    <link rel="stylesheet" href="~/css/StyleButton.css" />
    <link rel="stylesheet" href="~/css/StyleInput.css" />
    <link rel="stylesheet" href="~/css/StyleBox.css" />
</head>
<body class="body">
    <form class="form" asp-action="ChangePassword" asp-controller="Account">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h2 class="form_title">Изменение пароля для пользователя @Model.Identifier</h2>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Identifier" />
        <div class="form_grup">
            <label asp-for="NewPassword" class="form_label">Новый пароль</label>
            <input type="text" asp-for="NewPassword" class="input" />
        </div>
        <div class="form_grup">
            <input type="submit" value="Сохранить" class="button" />
            <a class="button" asp-controller="Account" asp-action="OrganizationInformation" style=" text-decoration: none;">Назад</a><br />
        </div>
    </form>
</body>