@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="submit" value="Выход" />
        <a asp-controller="Account" asp-action="Register">Регистрация</a>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
    <br />

}

 


 

   

 

@*@section scripts{
        <script type="text/javascript">
        $(function () {

            $('#areaes').change(function()
            {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems")/' + id,
                    success: function (data) {

                        // заменяем содержимое присланным частичным представлением
                        $('#districtes').replaceWith(data);
                    }
                });
            });
        })
        </script>
    }*@
