.input {
    width: 100%;
    /* padding: 0 0 10px 0;*/
    border: 2px solid #3D6AFF;
    border-bottom: 1px solid #3D6AFF;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    color: #000000;
}
