body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FCFFE8;
    color: #000000;
}

.form {
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    background: #FCFFE8;
    color: #000000;
}

.form_title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: #000000;
    background-color: #FCFFE8;
    border: 2px solid #3D6AFF;
}

.form_grup {
    position: relative;
    margin-bottom: 32px;
}

.form_input {
    width: 100%;
    /* padding: 0 0 10px 0;*/
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
    color: #000000;
}

.form_label {
    /*   position: absolute;*/
    text-align: start;
    z-index: -1;
    color: #000000;
    /*    transition: 0.3s;*/
}


.box {
}

    .box select {
        right: 50%;
        width: 300px;
        /*padding: 10px 20px;*/
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #0071f0;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: #000000;
        font-size: 16px;
        box-shadow: 0 5px 20px rgba(0,0,0,.3);
        outline: none;
        cursor: pointer;
        transition: 0.3s;
    }



        .box select option:hover {
            background: #0071f0;
        }

    .box:hover::before {
        background: #0071f0;
    }
