@using WebApplicationDiplom.Enumeration
@model WebApplicationDiplom.ViewModels.HistoryOfAppointmentsViewModel
@{
    ViewBag.Title = "Увольнения работника";
    Layout = "";
}
<head runat="server">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/StyleWindow.css" />
    <link rel="stylesheet" href="~/css/BodyStyle.css" />
    <link rel="stylesheet" href="~/css/Button.css" />
    <link rel="stylesheet" href="~/css/Input.css" />
</head>
<body class="bodyWww">
    <form asp-action="Layoffs" class="form" asp-controller="HistoryOfAppointments" asp-route-id="@Model.HistoryOfAppointmentsId">
        <input type="hidden" asp-for="HistoryOfAppointmentsId" class="form-control" />
        <div class="box">
            <label asp-for="GroundsForDismissal" class="form_label">Причина увольнения*</label><br />
            <select asp-for="GroundsForDismissal" asp-items="Html.GetEnumSelectList<GroundsForDismissal>()"></select>
            <span asp-validation-for="GroundsForDismissal"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Уволить" class="button" />
            <a class="button" asp-controller="HistoryOfAppointments" asp-action="Index" style=" text-decoration: none;">Назад</a>
        </div>
    </form>
</body>